<div data-profiler="<%= report.i18n_key %>">
  <h2 class="sr-only"><%= report.i18n_name %></h2>

  <% report.historical_data.each_with_index do |(timestamp, historic_data), index| %>
    <div class="collapse <%= 'show' if index.zero? %> timestamp-<%= timestamp %>">
      <h3 class="h5 text-muted"><%= Time.at(timestamp.to_s.to_i) %></h3>

      <div class="table-responsive mt-2 mb-3">
        <table class="table">
          <thead>
            <tr>
              <% report.headings.each do |heading| %>
                <th><%= heading %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% report.sorted_and_formatted_data_for(timestamp).each do |historic_row| %>
              <tr>
                <% report.column_keys.each do |column_key| %>
                  <td><%= historic_row[column_key] %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>
